<a href="https://colab.research.google.com/github/Eilwyn/CPE-21A-PLD-1-2/blob/main/Introduction_to_Phython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Indentation

In [1]:
if 5>2:
  print("5 is greater than 2")  #This is a comment

5 is greater than 2

Variable Declaration

In [21]:
#variable with a single value

x=5
y=2
if x >y:
  print("x is greater than y")
else:
  print("y is greater than x")


#variable with multiple values

a,b = 1,2
print("The value of a is:",a)
print("The value of b is:",b)

#mutiple variables with single values

p = q = r = 'Eilwyn'
print(p)
print(q)
print(r)

x is greater than y
The value of a is: 1
The value of b is: 2
Eilwyn
Eilwyn
Eilwyn

#Casting and Type() Function

In [9]:
f = int(4)    #integer
g=float(4)    #decimal/fractional

print(f)
print(g)

print(type(f))
print(type(g))

4
4.0
<class 'int'>
<class 'float'>

Double Quote or Single Quote

In [13]:
name = "Eilwyn"
name1 = 'Lorenz'

print(name)
print(name1)

Eilwyn
Lorenz

Case Sensitive

In [18]:
a = 'Ana'
A = 4

print(a)
print(A)

Ana
4

Output Variable

In [32]:
o = 'enjoying'
print("Python programming is"+" "+o)      #append enjoying

t = "Python"
u = "is enjoying"
v = t + " " + u
print(v)

Python programming is enjoying
Python is enjoying